/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true;


/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;


/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;


/**
 * Responsiveness?
 * Tell inuit.css when breakpoints start, in pixels.
 */
$responsive:        true;
$lap-start:         481px;
$desk-start:        1024px;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           48px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;


/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        Ubuntu, sans-serif;


/**
 * inuit.css will work these next ones out for you.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
