<h2 class="section-title" id="typography">Typography</h2>
<h3>Headings</h3>
<p>When we define a heading we also define a corresponding class to go with it.
This allows us to apply, say, `class="alpha"` to a `h3`; a double-stranded
heading hierarchy.</p>
<ol>
	<li><p class="alpha">h1 - .alpha</p></li>
	<li><p class="beta">h2 - .beta</p></li>
	<li><p class="gamma">h3 - .gamma</p></li>
	<li><p class="delta">h4 - .delta</p></li>
	<li><p class="epsilon">h5 - .epsilon</p></li>
	<li><p class="zeta">h6 - .zeta</p></li>
</ol>
<hr />
<h3>Mastheads</h3>
<ol>
	<li><p class="giga">.giga</p></li>
	<li><p class="mega">.mega</p></li>
	<li><p class="kilo">.kilo</p></li>
</ol>
<hr />
<h3>Small Print</h4>
<ol>
	<li><p class="smallprint">.smallprint</p></li>
	<li><p class="milli">.milli</p></li>
	<li><p class="micro">.micro</p></li>
</ol>
<hr />
<h3>Paragraphs</h3>
<h4>Default</h4>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
<hr />
<h4>Introductory Text</h4>
<p>The `.lede` class is used to make the introductory text (usually a paragraph) of a document slightly larger.</p>
<p class="lead">Senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
<h3>Quotes</h3>
<hr />
<h4>Inline quotes</h4>
<p><q>Pellentesque habitant morbi tristique</q> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
<hr />
<h4>Blockquotes</h4>
<blockquote>
       <p>Insanity: doing the same thing over and over again and expecting
       different results.</p>
       <b class="source">Albert Einstein</b>
   </blockquote>
<hr />
<h3>Lists</h3>
<h4>Ordered List</h4>
<ol>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ol>
<p>Have a numbered `ul` without the semantics implied by using an `ol`.</p>
<ul class="numbered-list">
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ul>
<hr />
<h4>Unordered List</h4>
<ul>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ul>
<hr />
<h3>Code</h3>
<pre><code>
#header h1 a {
	display: block;
	width: 300px;
	height: 80px;
}
</code></pre>
<hr />
