/*------------------------------------*\
    $COMPLEX-LINK
\*------------------------------------*/
/**
 * As inspired by @necolas:
 * github.com/necolas/suit-utils/blob/master/link.css#L18
 * 
 * Add hover behaviour to only slected items within links, e.g.:
 * 
   <a href=log-in class=complex-link>
       <i class="s  s--user"></i>
       <span class=complex-link__target>Log in</span>
   </a>
 * 
 * Demo: jsfiddle.net/inuitcss/rt9M3
 * 
 */
.complex-link,
.complex-link:hover,
.complex-link:active,
.complex-link:focus{
    text-decoration:none;
}
    .complex-link:hover .complex-link__target,
    .complex-link:active .complex-link__target,
    .complex-link:focus .complex-link__target{
        text-decoration:underline;
    }