/*------------------------------------*\
    $OPTIONS
\*------------------------------------*/
/**
 * Link-group nav, used for displaying related options. Extends `.nav--block`
 * but could also extend `.nav--fit`. Extend with colours and ‘current states’
 * in your theme stylesheet.
 * 
  <ul class="nav  options">
      <li><a></a></li>
      <li><a></a></li>
      <li><a></a></li>
      <li><a></a></li>
   </ul>
 * 
 * Demo: jsfiddle.net/inuitcss/vwfaf
 * 
 */
.options{
    @extend .nav--block;

    > li{

        > a{
            border:0 solid #ccc; /* Extend in your theme stylesheet */
            border-width:1px;
            border-left-width:0;
            border-radius:$brand-round;
        }

        &:first-child > a{
            border-left-width:1px;
        }
    }

    > li:not(:first-child):not(:last-child) > a{
        border-radius:0;
    }

    > li:first-child > a{
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }

    > li:last-child > a{
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    }
}
