/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * Giving an element a class of `.s` will throw it into ‘sprite’ mode and apply
 * a background image e.g.:
 * 
   <a class="s  s--question-mark">More info&hellip;</a>
 * 
 * or
 * 
   <a href=#><i class="s  s--question-mark"></i> Help and FAQ</a>
 * 
 * Giving an element a class of `.i` will throw it into ‘icon’ mode and will
 * not add a background, but should be used for icon fonts and is populated
 * through a `data-char` attribute and the `:after` pseudo-element, e.g.:
 * 
   <a href=# class=i data-char="C">Add to favorites</a>
 * 
 * or
 * 
   <a href=#><i class=i data-char="C"></i> View your favourites</a>
 * 
 * Where ‘C’ might map to a star in your particular font.
 * 
 * These all require extension in your theme stylesheet.
 * 
 * Demo: jsfiddle.net/inuitcss/6TKuS
 * 
 */
 
 /**
 * Need compass.
 */
@import "compass";


/**
 * Retina Display?
 * You can create a sprite for devices with retina display.
 */
$retina-display: false;

/**
 * Path of sprites
 */
$sprites: sprite-map("/path/to/your/sprite/*.png", $spacing: 20px);
@if $retina-display == true { $sprites2x: sprite-map("/path/to/your/sprite2x/*.png", $spacing: 40px); }

/**
 * Mixin to create new sprites.
 */
@mixin sprite-img($name, $dimensions: true, $pad: 0, $sprites: $sprites) {

    background-position: sprite-position($sprites, $name, -$pad, -$pad);

    @if ($dimensions == true) {
        @include sprite-dimensions($sprites, $name);
    }

    @if ($pad > 0) {
        padding: $pad
    }
}

.s,
.i{
    display:inline-block;
    /**
     * The typical size of most icons. Override in your theme stylesheet.
     */
    width: 16px;
    height:16px;
    position:relative;
    zoom:1;
    /**
     * So using `.i` on `i` elements doesn’t make a visual difference.
     */
    font-style:normal;
    /**
     * So icons added using `.i` sit in the centre of the element.
     */
    text-align:center;
}
.s{
    background-image: sprite-url($sprites);
    background-repeat: no-repeat;

    vertical-align:middle;
    top:-1px;
    
    /**
     * Detects devices with retina display.
     */
    @if $retina-display == true {
        @media (min--moz-device-pixel-ratio: 1.5),
        (-webkit-min-device-pixel-ratio: 1.5),
        (-o-min-device-pixel-ratio: 3/2),
        (min-device-pixel-ratio: 1.5),
        (min-resolution: 1.5dppx),
        (min-resolution: 144dpi) {
            @include background-size(ceil(image-width(sprite-path($sprites2x)) / 2) auto);
            background-image: sprite-url($sprites2x);
        }
    }

    /*
     * H5BP method image replacement:
     * github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
     */
    overflow:hidden;
   *text-indent:-9999px;

    &:before{
        content:"";
        display:block;
        width:0;
        height:100%;
    }
}


.i{
    vertical-align:top;
    
    &:after{
        content:attr(data-char);
    }
}

// sprite mods
.s--facebook {
    @include sprite-img(s--facebook, true);
}

.s--googleplus {
    @include sprite-img(s--googleplus);
}

.s--rss {
    @include sprite-img(s--rss);
}

.s--twitter {
    @include sprite-img(s--twitter);
}