/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * Giving an element a class of `.s` will throw it into ‘sprite’ mode and apply
 * a background image e.g.:
 * 
   <a class="s  s--question-mark">More info&hellip;</a>
 * 
 * or
 * 
   <a href=#><i class="s  s--question-mark"></i> Help and FAQ</a>
 * 
 * Giving an element a class of `.i` will throw it into ‘icon’ mode and will
 * not add a background, but should be used for icon fonts and is populated
 * through a `data-icon` attribute and the `:after` pseudo-element, e.g.:
 * 
   <a href=#><i class=i data-icon="&#xF000;"></i> View your favourites</a>
 * 
 * Where ‘&#xF000;’ might map to a star in your particular font.
 * 
 * These all require extension in your theme stylesheet.
 * 
 * Demo: jsfiddle.net/inuitcss/6TKuS
 * 
 */
.s,
.i{
    display:inline-block;
    line-height:1;
    position:relative;
    vertical-align:middle;
    zoom:1;
    /**
     * So using `.i` on certain elements doesn’t make a visual difference.
     */
    font-style:normal;
    font-weight:normal;
    /**
     * So icons added using `.i` sit in the centre of the element.
     */
    text-align:center;
}
.s{
    background-image:url(/path/to/your/sprite.png);
    /**
     * The typical size of most icons. Override in your theme stylesheet.
     */
    width: 16px;
    height:16px;
    top:-1px;

    /*
     * H5BP method image replacement:
     * github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
     */
    overflow:hidden;
   *text-indent:-9999px;

    &:before{
        content:"";
        display:block;
        width:0;
        height:100%;
    }
}

/**
 * Set up Batch icon font
 */
.i{
    @if $batch == true{
        font-family:Batch;
    }
    font-size:16px;
    /**
     * Place the icon in a box the exact same dimensions as the icon itself.
     */
    width:1em;
    height:1em;

    &:before{
        content:attr(data-icon);
    }
}

/**
 * Icon size modifiers.
 */
.i--large   { font-size:32px; }
.i--huge    { font-size:64px; }
.i--natural { font-size:inherit; }
