# The usual...
.DS_Store
.sass-cache/
*.swp
*.swo

# We don’t want to bundle any compiled CSS...
*.css
# ...but still track inuit.css
!inuit.css/

# Ignore my little test/tinkering file
inuit.css.html
