/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Base stuff
 */
$base-font-size:    16!default;
$base-line-height:  24!default;
/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4!default;


/**
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96!default;
$mega-size:         72!default;
$kilo-size:         48!default;

$h1-size:           36!default;
$h2-size:           30!default;
$h3-size:           24!default;
$h4-size:           20!default;
$h5-size:           16!default;
$h6-size:           14!default;

$milli-size:        12!default;
$micro-size:        10!default;


/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        "Helvetica Neue", sans-serif!default;


/**
 * We need to supply a full code font-stack in order to combat this:
 * jsfiddle.net/csswizardry/uD6UW
 */
$code-face:         Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace!default;
