/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true;


/**
 * Base stuff
 */
$base-font-size:    16!default;
$base-line-height:  24!default;


/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4!default;


/**
 * Responsiveness?
 * Tell inuit.css when breakpoints start, end, or both, in whichever unit 
 * you want.
 */
$responsive:            true;
$mobile-only:           max-width 480px!default;
$tablet-only:           481px 1024px!default;
$all-handheld:          max-width 1024px!default;
$desktop-only:          1025px!default;
$retina:                -webkit-min-device-pixel-ratio 2, min--moz-device-pixel-ratio 2, -o-min-device-pixel-ratio 2/1, min-device-pixel-ratio 2, min-resolution 192dpi, min-resolution 2dppx!default;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96!default;
$mega-size:         72!default;
$kilo-size:         48!default;

$h1-size:           36!default; // .alpha
$h2-size:           30!default; // .beta
$h3-size:           24!default; // .gamma
$h4-size:           20!default; // .delta
$h5-size:           16!default; // .epsilon
$h6-size:           14!default; // .zeta

$milli-size:        12!default;
$micro-size:        10!default;


/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        "Helvetica Neue", sans-serif!default;


/**
 * inuit.css will work these next ones out for you.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
