---
layout: default
title: Home
---
    
<h1 class="site-title"><b>inuitcss</b> &ndash; a powerful, scalable, Sass-based, BEM, OOCSS framework.</h1>

<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
        <h2 class="post__title"><a href="{{ site.root }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.meta %}
            <p class="post__meta">{{ post.meta }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
