@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch your-project.scss:your-project.min.css --style compressed
 * 
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */