/*------------------------------------*\
    PRESENTATION.CSS    
\*------------------------------------*/

/** 
 * Container
 */

.container{
	padding: 0 $grid-gutter/2;
}

/**
 * Sidebar
 */

.sidebar{
	margin-left: - ($grid-gutter/2);
	background: #eee;
	padding: 1em 1.5em;

	ul{
		margin: 0 0 2em 0;
		list-style: none;
	}	

	li{
		margin-bottom: 5px;
	}

	h3{		
		@include font-size($base-font-size);
		font-weight: bold;
		margin-bottom: 5px;
	}
}