/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items over to the right by certain amounts.
 */
@mixin pull-setup($namespace: "") {

    .pull--#{$namespace}{ position:relative; }

    /**
     * Whole
     */
    .pull--#{$namespace}one-whole           { @extend .pull--#{$namespace}; right:100%; }


    /**
     * Halves
     */
    .pull--#{$namespace}one-half            { @extend .pull--#{$namespace}; right:50%; }


    /**
     * Thirds
     */
    .pull--#{$namespace}one-third           { @extend .pull--#{$namespace}; right:33.333%; }
    .pull--#{$namespace}two-thirds          { @extend .pull--#{$namespace}; right:66.666%; }


    /**
     * Quarters
     */
    .pull--#{$namespace}one-quarter         { @extend .pull--#{$namespace}; right:25%; }
    .pull--#{$namespace}two-quarters        { @extend .pull--#{$namespace}one-half; }
    .pull--#{$namespace}three-quarters      { @extend .pull--#{$namespace}; right:75%; }


    /**
     * Fifths
     */
    .pull--#{$namespace}one-fifth           { @extend .pull--#{$namespace}; right:20%; }
    .pull--#{$namespace}two-fifths          { @extend .pull--#{$namespace}; right:40%; }
    .pull--#{$namespace}three-fifths        { @extend .pull--#{$namespace}; right:60%; }
    .pull--#{$namespace}four-fifths         { @extend .pull--#{$namespace}; right:80%; }


    /**
     * Sixths
     */
    .pull--#{$namespace}one-sixth           { @extend .pull--#{$namespace}; right:16.666%; }
    .pull--#{$namespace}two-sixths          { @extend .pull--#{$namespace}one-third; }
    .pull--#{$namespace}three-sixths        { @extend .pull--#{$namespace}one-half; }
    .pull--#{$namespace}four-sixths         { @extend .pull--#{$namespace}two-thirds; }
    .pull--#{$namespace}five-sixths         { @extend .pull--#{$namespace}; right:83.333%; }


    /**
     * Eighths
     */
    .pull--#{$namespace}one-eighth          { @extend .pull--#{$namespace}; right:12.5%; }
    .pull--#{$namespace}two-eighths         { @extend .pull--#{$namespace}one-quarter; }
    .pull--#{$namespace}three-eighths       { @extend .pull--#{$namespace}; right:37.5%; }
    .pull--#{$namespace}four-eighths        { @extend .pull--#{$namespace}one-half; }
    .pull--#{$namespace}five-eighths        { @extend .pull--#{$namespace}; right:62.5%; }
    .pull--#{$namespace}six-eighths         { @extend .pull--#{$namespace}three-quarters; }
    .pull--#{$namespace}seven-eighths       { @extend .pull--#{$namespace}; right:87.5%; }


    /**
     * Tenths
     */
    .pull--#{$namespace}one-tenth           { @extend .pull--#{$namespace}; right:10%; }
    .pull--#{$namespace}two-tenths          { @extend .pull--#{$namespace}one-fifth; }
    .pull--#{$namespace}three-tenths        { @extend .pull--#{$namespace}; right:30%; }
    .pull--#{$namespace}four-tenths         { @extend .pull--#{$namespace}two-fifths; }
    .pull--#{$namespace}five-tenths         { @extend .pull--#{$namespace}one-half; }
    .pull--#{$namespace}six-tenths          { @extend .pull--#{$namespace}three-fifths; }
    .pull--#{$namespace}seven-tenths        { @extend .pull--#{$namespace}; right:70%; }
    .pull--#{$namespace}eight-tenths        { @extend .pull--#{$namespace}four-fifths; }
    .pull--#{$namespace}nine-tenths         { @extend .pull--#{$namespace}; right:90%; }


    /**
     * Twelfths
     */
    .pull--#{$namespace}one-twelfth         { @extend .pull--#{$namespace}; right:8.333%; }
    .pull--#{$namespace}two-twelfths        { @extend .pull--#{$namespace}one-sixth; }
    .pull--#{$namespace}three-twelfths      { @extend .pull--#{$namespace}one-quarter; }
    .pull--#{$namespace}four-twelfths       { @extend .pull--#{$namespace}one-third; }
    .pull--#{$namespace}five-twelfths       { @extend .pull--#{$namespace}; right:41.666% }
    .pull--#{$namespace}six-twelfths        { @extend .pull--#{$namespace}one-half; }
    .pull--#{$namespace}seven-twelfths      { @extend .pull--#{$namespace}; right:58.333%; }
    .pull--#{$namespace}eight-twelfths      { @extend .pull--#{$namespace}two-thirds; }
    .pull--#{$namespace}nine-twelfths       { @extend .pull--#{$namespace}three-quarters; }
    .pull--#{$namespace}ten-twelfths        { @extend .pull--#{$namespace}five-sixths; }
    .pull--#{$namespace}eleven-twelfths     { @extend .pull--#{$namespace}; right:91.666%; }
}

@include pull-setup();

@if $responsive-pull == true{

@include media-query(palm){
    @include pull-setup("palm-");
}

@include media-query(lap){
    @include pull-setup("lap-");
}

@include media-query(portable){
    @include pull-setup("portable-");
}

@include media-query(desk){
    @include pull-setup("desk-");
}

} /* endif */
