/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn{
    border-radius:$brand-round;
}
.btn--cta{
    @include font-size(32px);
    color:#fff; 
    text-shadow:0 -1px 0 rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
    border:1px solid $brand-color;
    background-color:$brand-color; /* Old browsers */
    background-image:-moz-linear-gradient(top, $brand-color 0%, #3484c1 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$brand-color), color-stop(100%,#3484c1)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, $brand-color 0%,#3484c1 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, $brand-color 0%,#3484c1 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(top, $brand-color 0%,#3484c1 100%); /* IE10+ */
    background-image:linear-gradient(to bottom, $brand-color 0%,#3484c1 100%); /* W3C */
}
