/*------------------------------------*\
    $COLUMNS
\*------------------------------------*/
/**
 * Here we can set elements in columns of text using CSS3, e.g.:
 * 
   <p class=text-cols-2>
 * 
 * Demo: jsfiddle.net/inuitcss/E26Yd
 * 
 */
.text-cols,
.text-cols--2,
.text-cols--3,
.text-cols--4,
.text-cols--5{
    @include vendor(column-gap, $base-spacing-unit +px);
}
.text-cols--2    { @include vendor(column-count, 2); }
.text-cols--3    { @include vendor(column-count, 3); }
.text-cols--4    { @include vendor(column-count, 4); }
.text-cols--5    { @include vendor(column-count, 5); }
