/*------------------------------------*\
    $GRIDS-IE7
\*------------------------------------*/
/*
 * To make the grid system work properly in IE7 we need to add a little more
 * markup to account for the fact that it doesn’t support `box-sizing`, e.g.:
 * 
   <!--[if lte IE 7]><div class=ie7-grid><![endif]-->
       
       <div class=gw>
           
           <div class="g  one-third"><div class=g__inner>
               <p>Foo</p>
           </div></div>
           
           <div class="g  one-third"><div class=g__inner>
               <p>Bar</p>
           </div></div>
           
           <div class="g  one-third"><div class=g__inner>
               <p>Baz</p>
           </div></div>
           
       </div>
   
   <!--[if lte IE 7]></div><![endif]-->
 * 
 * Demo: jsfiddle.net/inuitcss/9Euvj
 * 
 */
.ie7-grid{
    overflow:hidden;
}
    .ie7-grid .gw,
    .ie7-grid .grid-wrapper{
        margin-right:-$half-spacing-unit +px;
        margin-left: -$half-spacing-unit +px;
    }
        .ie7-grid .g,
        .ie7-grid .grid{
            padding:0;
        }
            .ie7-grid .g__inner,
            .ie7-grid .grid__inner{
                padding-right:$half-spacing-unit +px;
                padding-left: $half-spacing-unit +px;
            }