/*------------------------------------*\
    $NAV
\*------------------------------------*/

/* As per: http://builtbyboon.com/posed/OOCSS-Sass-MQs/3  */

@mixin obj-nav {
  list-style: none;
  margin-left: 0;
  li, a {
    @include inline-block;
  }
}

.nav {
  @include obj-nav;
}


@mixin obj-nav-divided {
  margin-left: -1em;
  li {
    border-left: 1px solid $c-gray;
    padding: .5em 1em;

    &:first-child {
      border-left: none;
    }
  }
}

.nav-divided {
  @include obj-nav-divided;
}

.nav-blocked a {
  display: block;
  background-color: $c-gray;
  padding: .25em .5em;
}


.nav-tertiary li {
  list-style: none;
  margin-bottom: .25em;
}

@media only screen and (min-width: 50em) {
  .nav-tertiary {
    @include obj-nav;
    @include obj-nav-divided;
    a {
      padding: 0;
      background: none;
    }
  }
}

.banner-nav{
  text-align:center;
}
