/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
/**
 * Basic pagination object, extends `.nav`.
 * Requires some funky commenting to collapse any white-space caused by the
 * `display:inline-block;` rules.
 * 
   <ol class="nav pagination">
       <li class=pagination-first>First</li><!--
    --><li class=pagination-next>Next</li><!--
    --><li><a href=/page/1>1</a></li><!--
    --><li><a href=/page/2>2</a></li><!--
    --><li class=current><a href=/page/3>3</a></li><!--
    --><li><a href=/page/4>4</a></li><!--
    --><li><a href=/page/5>5</a></li><!--
    --><li class=pagination-next><a href=/page/next>Next</a></li><!--
    --><li class=pagination-last><a href=/page/last>Last</a></li>
   </ol>
 * 
 */
.pagination{
    text-align:center;
}
    .pagination > li{
        padding:($base-spacing-unit / 2) +px;
    }
        .pagination > li > a{
            padding:($base-spacing-unit / 2) +px;
            margin:-($base-spacing-unit / 2) +px;
        }
    
        .pagination-first a:before{
            content:"« ";
        }
        .pagination-last a:after{
            content:" »";
        }