/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * Giving an element a class of `.s` will throw it into ‘sprite’ mode and apply
 * a background image e.g.:
 *
   <a class="s s--question-mark">More info&hellip;</a>
 *
 * or
 *
   <a href=#><i class="s s--question-mark"></i> Help and FAQ</a>
 * 
 * Giving an element a class of `.i` will throw it into ‘icon’ mode and will
 * not add a background, but should be used for icon fonts, e.g.:
 * 
   <a href=# class="i i--star">Add to favorites</a>
 * 
 * or
 * 
   <a href=#><i class="i i--star"></i> View your favourites</a>
 * 
 * These all require extension in your theme stylesheet. For a rough example
 * please see: jsfiddle.net/csswizardry/98VeS
 */
.s,
.i{
    display:inline-block;
    /**
     * The typical size of most icons. Override in your theme stylesheet.
     */
    width: 16px;
    height:16px;
    position:relative;
    zoom:1;
    /**
     * So using `.i` on `i` elements doesn’t make a visual difference.
     */
    font-style:normal;
    /**
     * So icons added using `.i` sit in the centre of the element.
     */
    text-align:center;
}
.s{
    background-image:url(/path/to/your/sprite.png);
    vertical-align:middle;
    top:-1px;
    
    /**
     * Kellum Method image replacement:
     * zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
     */
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}
.i{
    vertical-align:top;
}