/*------------------------------------*\
    INUIT.CSS
\*------------------------------------*/
/*! inuitcss.com -- @inuitcss -- @csswizardry */
/**
 * inuit.css acts as a base stylesheet which you should extend with your own
 * theme stylesheet.
 *
 * inuit.css aims to do the heavy lifting; sorting objects and abstractions,
 * design patterns and fiddly bits of CSS, whilst leaving as much design as
 * possible to you. inuit.css is the scaffolding to your decorator.
 * 
 * This stylesheet is heavily documented and contains lots of comments, please
 * take care to read and refer to them as you build. For further support please
 * tweet at @inuitcss.
 *
 * Owing to the amount of comments please only ever use `inuit.min.css` in
 * production. This file is purely a dev document.
 * 
 * The table of contents below maps to section titles of the same name, to jump
 * to any section simply run a find for $[SECTION-TITLE].
 *
 * Most objects and abstractions come with a chunk of markup that you should be
 * able to paste into any view to quickly see how the CSS works in conjunction
 * with the correct HTML.
 *
 * LICENSE
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 * http://apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * Thank you for choosing inuit.css. May your specificity always stay low.
 * 
 */





/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * WARNING.............Here be dragons!
 * MIXINS..............Super-simple Sass stuff
 * RESET...............Set some defaults
 * CLEARFIX............
 * SHARED..............Shared declarations
 * MAIN................High-level elements like `html`, `body`, etc.
 * HEADINGS............Double-stranded heading hierarchy
 * PARAGRAPHS..........
 * SMALLPRINT..........Smaller text elements like `small`
 * QUOTES..............
 * CODE................
 * LINKS...............
 * LISTS...............
 * IMAGES..............
 * TABLES..............
 * FORMS...............
 * GRIDS...............Fluid, proportional and nestable grids
 * COLUMNS.............CSS3 columns
 * NAV.................A simple abstraction to put a list in horizontal nav mode
 * MEDIA...............Media object
 * ISLAND..............Boxed off content
 * BLOCK-LIST..........Blocky lists of content
 * MATRIX..............Gridded lists
 * SPLIT...............A simple split-in-two object
 * FLYOUT..............Flyout-on-hover object
 * SPRITE..............Generic spriting element
 * ICON-TEXT...........Icon and text couplings
 * BUTTONS.............
 * LOZENGES............Basic lozenge styles
 * BRAND...............Helper class to apply brand treatment to elements
 * HELPER..............A series of helper classes to use arbitrarily
 */





/*------------------------------------*\
    $WARNING
\*------------------------------------*/
/*
 * inuit.css, being an OO framework, works in keeping with the open/closed
 * principle. The variables you set previously are now being used throughout
 * inuit.css to style everything we need for a base. Any custom styles SHOULD
 * NOT be added or modified in inuit.css directly, but added via your theme
 * stylesheet as per the open/closed principle:
 * 
 * csswizardry.com/2012/06/the-open-closed-principle-applied-to-css
 * 
 * Try not to edit any CSS beyond this point; if you find you need to do so
 * it is a failing of the framework so please tweet at @inuitcss.
 */





/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
@mixin font-size($font-size){
    font-size:$font-size +px;
    font-size:$font-size / $base-font-size +rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(box-sizing, border-box);`
 *
 */
@mixin vendor($property, $value){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}





/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
    display:block;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
strong,b,mark{
    font-weight:bold;
    font-style:inherit;
}
em,i,cite,q,address,dfn,var{
    font-style:italic;
    font-weight:inherit;
}
abbr[title],dfn[title]{
    cursor:help;
    border-bottom:1px dotted;
}
ins{
    border-bottom:1px solid;
}
a,u,ins{
    text-decoration:none;
}
del,s{
    text-decoration:line-through;
}
img{
    border:none;
    font-style:italic;
}
input,
select,option,optgroup,
textarea{
    font:inherit;
}

/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option{
    cursor:pointer;
}
    .text-input:active,
    .text-input:focus,
    textarea:active,
    textarea:focus{
        cursor:text;
        outline:none;
    }





/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf{
    zoom:1;
    &:before,
    &:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}





/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 */
/**
 * Base elements
 */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
hr,
/**
 * Objects and abstractions
 */
.sass-margin-bottom,
.media,
.island,
.islet{
    margin-bottom:$base-spacing-unit +px;
    margin-bottom:$base-spacing-unit / $base-font-size +rem;
}
    /**
     * Doubled up `margin-bottom` helper class.
     */
    .landmark{
        margin-bottom:2 * $base-spacing-unit +px;
        margin-bottom:2 * $base-spacing-unit / $base-font-size +rem;
    }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,ol,dd{
    margin-left:2 * $base-spacing-unit +px;
    margin-left:2 * $base-spacing-unit / $base-font-size +rem;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:($base-font-size / 16 +em)/($base-line-height / $base-font-size) serif;
    overflow-y:scroll;
}





/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1,.alpha{
    @include font-size($h1-size);
}
h2,.beta{
    @include font-size($h2-size);
}
h3,.gamma{
    @include font-size($h3-size);
}
h4,.delta{
    @include font-size($h4-size);
}
h5,.epsilon{
    @include font-size($h5-size);
}
h6,.zeta{
    @include font-size($h6-size);
}

/**
 * Heading groups and generic any-heading class.
 * To target any heading of any level simply apply a class of `.hN`, e.g.:
 * 
   <hgroup>
       <h1 class=hN>inuit.css</h1>
       <h2 class=hN>Best. Framework. Ever!</h2>
   </hgroup>
 * 
 */
.hN{
}
hgroup .hN{
    margin-bottom:0;
}

/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */
.giga{
    @include font-size($giga-size);
}
.mega{
    @include font-size($mega-size);
}
.kilo{
    @include font-size($kilo-size);
}





/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger.
 */
.lede,
.lead{
    font-size:1.125em;
}





/*------------------------------------*\
    $SMALLPRINT
\*------------------------------------*/
/**
 * A series of classes for setting tiny type; for use in smallprint etc.
 *
 * `small` is relative to whatever its parent is, `.milli` and `.micro` are
 * absolute.
 */
small{
    font-size:0.75em;
}
.smallprint,
.milli{
    @include font-size($milli-size);
    line-height:1;      /* 12px */
}
.micro{
    @include font-size($micro-size);
    line-height:1.2;    /* 12px */
}





/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * Big up @boblet: html5doctor.com/blockquote-q-cite
 */
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

/**
 *
   <blockquote>
       <p>Insanity: doing the same thing over and over again and expecting
       different results.</p>
       <b class=source>Albert Einstein</b>
   </blockquote>
 *
 */
blockquote{
    /**
     * .4em is roughly equal to the width of the opening “ that we wish to hang.
     */
    text-indent:-0.4em;
}
    blockquote p:last-of-type{
        margin-bottom:0;
    }

.source{
    display:block;
    text-indent:0;
}
    .source:before{
        content:"—";
    }





/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 * Use an explicit font stack to ensure browsers render correct `line-height`.
 */
pre,code,samp,kbd{
    font-family:Inconsolata, Monaco, Consolas, "Andale Mono", 
                "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
pre{
    overflow:auto;
}
    pre mark{
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }

/**
 * Add comments to your code examples, e.g.:
 *
   <code>&lt;/div&gt;<span class=code-comment>&lt;!-- /wrapper --&gt;</span></code>
 *
 */
.code-comment{
    /**
     * Override this setting in your theme stylesheet
     */
    opacity:0.75;
    filter:alpha(opacity=75);
}

/**
 * You can add line numbers to your code examples but be warned, it requires
 * some pretty funky looking markup, e.g.:
   <pre class=numbered>
       <ol class=line-numbers>
           <li><code>.nav{</code></li>
           <li><code>    list-style:none;</code></li>
           <li><code>    margin-left:0;</code></li>
           <li><code>}</code></li>
           <li><code>    .nav > li,</code></li>
           <li><code>        .nav > li > a{</code></li>
           <li><code>            display:inline-block;</code></li>
           <li><code>           *display:inline-block;</code></li>
           <li><code>            zoom:1;</code></li>
           <li><code>        }</code></li>
       </ol>
   </pre>​
 */
.numbered{
    white-space:nowrap;
}
    .line-numbers{
        list-style:decimal-leading-zero inside;
        margin-bottom:0;
        margin-left:0;
    }
            .line-numbers code{
                white-space:pre;
            }





/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/**
 * Say no to negative hovers, as per: csswizardry.com/2011/05/on-negative-hovers
 */
a{
    /**
     * Set colors etc in your theme stylesheet.
     */
}
    a:hover{
        text-decoration:underline;
    }

/**
 * ‘Current’ states, e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li class=current><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.current a{
    cursor:text;
    text-decoration:underline;
}





/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
img{
    max-width:100%;
    height:auto;
}
figure > img{
    display:block;
}





/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li > ul,
li > ol{
    margin-bottom:0;
}





/*------------------------------------*\
    $TABLES
\*------------------------------------*/
/**
 * We have a lot at our disposal for making very complex table constructs, e.g.:
 *
   <table class="bordered-table striped-table data-table">
       <colgroup>
           <col class=t10>
           <col class=t10>
           <col class=t10>
           <col>
       </colgroup>
       <thead>
           <tr>
               <th colspan=3>Foo</th>
               <th>Bar</th>
           </tr>
               <th>Lorem</th>
               <th>Ipsum</th>
               <th class=numerical>Dolor</th>
               <th>Sit</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <th rowspan=3>Sit</th>
               <td>Dolor</td>
               <td class=numerical>03.788</td>
               <td>Lorem</td>
           </tr>
           <tr>
               <td>Dolor</td>
               <td class=numerical>32.210</td>
               <td>Lorem</td>
           </tr>
           <tr>
               <td>Dolor</td>
               <td class=numerical>47.797</td>
               <td>Lorem</td>
           </tr>
           <tr>
               <th rowspan=2>Sit</th>
               <td>Dolor</td>
               <td class=numerical>09.640</td>
               <td>Lorem</td>
           </tr>
           <tr>
               <td>Dolor</td>
               <td class=numerical>12.117</td>
               <td>Lorem</td>
           </tr>
       </tbody>
   </table>
  *
  */
table{
    width:100%;
}
th,
td{
    padding:$base-spacing-unit / 4 +px;
    @media screen and (min-width:480px){
        padding:$half-spacing-unit +px;
    }
    text-align:left;
}

/**
 * Cell alignments
 */
[colspan]{
    text-align:center;
}
[colspan="1"]{
    text-align:left;
}
[rowspan]{
    vertical-align:middle;
}
[rowspan="1"]{
    vertical-align:top;
}
.numerical{
    text-align:right;
}

/**
 * In the HTML above we see several `col` elements with classes whose numbers
 * represent a percentage width for that column. We leave one column free of a
 * class so that column can soak up the effects of any accidental breakage in
 * the table.
 */
.t5     { width: 5% }
.t10    { width:10% }
.t12    { width:12.5% }     /* 1/8 */
.t15    { width:15% }
.t20    { width:20% }
.t25    { width:25% }       /* 1/4 */
.t30    { width:30% }
.t33    { width:33.333% }   /* 1/3 */
.t35    { width:35% }
.t37    { width:37.5% }     /* 3/8 */
.t40    { width:40% }
.t45    { width:45% }
.t50    { width:50% }       /* 1/2 */
.t55    { width:55% }
.t60    { width:60% }
.t62    { width:62.5% }     /* 5/8 */
.t65    { width:65% }
.t66    { width:66.666% }   /* 2/3 */
.t70    { width:70% }
.t75    { width:75% }       /* 3/4*/
.t80    { width:80% }
.t85    { width:85% }
.t87    { width:87.5% }     /* 7/8 */
.t90    { width:90% }
.t95    { width:95% }

/**
 * Bordered tables
 */
.bordered-table th,
.bordered-table td{
    border:1px solid #ccc; /* Override this color in your theme stylesheet */
}
.bordered-table thead tr:last-child th{
    border-bottom-width:2px;
}
.bordered-table tbody tr th:last-of-type{
    border-right-width:2px;
}
.bordered-table th:empty,
.bordered-table td:empty{
    border:none;
}

/**
 * Striped tables
 */
.striped-table tbody tr:nth-of-type(odd){
    background-color:#ffc; /* Override this color in your theme stylesheet */
}

/**
 * Data table
 */
.data-table{
    font:12px/1.5 sans-serif;
}





/*------------------------------------*\
    $FORMS
\*------------------------------------*/
fieldset{
    padding:$base-spacing-unit +px;
}

/**
 * Text inputs
 * 
 * Instead of a `[type]` selector for each kind of form input, we just us a
 * class to target any/every one, e.g.:
   <input type=text class=text-input>
   <input type=email class=text-input>
   <input type=password class=text-input>
 *
 */
.text-input,
textarea{
    /**
     * Style these via your theme stylesheet.
     */
}

/**
 * Group sets of form fields in a list, e.g.:
   <ul class=form-fields>
       <li>
           <label />
           <input />
       </li>
       <li>
           <label />
           <select />
       </li>
       <li>
           <label />
           <input />
       </li>
   </ul>
 *
 */
.form-fields{
    list-style:none;
    margin:0;
}
    .form-fields > li{
        @extend .sass-margin-bottom;
    }
    .form-fields > li:last-child{
        margin-bottom:0;
    }

/**
 * Labels
 *
 * Define a `.label` class as well as a `label` element. This means we can apply
 * label-like styling to meta-labels for groups of options where a `label`
 * element is not suitable, e.g.:
 *
   <li>
       <span class=label>Select an option below:</span>
       <ul class="multi-list four-cols">
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
label,
.label{
    display:block;
}
    /**
     * Extra help text in `label`s, e.g.:
     *
       <label>Card number <small class=additional>No spaces</small></label>
     *
     */
    .additional{
        display:block;
        font-weight:normal;
    }

/*
 * Groups of checkboxes and radios, e.g.:
 *
   <li>
       <ul class=check-list>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.check-list{
    list-style:none;
    margin:0;
}
    /*
     * Labels in check-lists
     */
    .check-label,
    .check-list label,
    .check-list .label{
        display:inline-block;
    }

/**
 * Spoken forms are for forms that read like spoken word, e.g.:
 *
   <li class=spoken-form>
       Hello, my <label for=spoken-name>name</label> is
       <input type=text class=text-input id=spoken-name>. My home
       <label for=country>country</label> is
       <select id=country>
           <option>UK</option>
           <option>US</option>
           <option>Other</option>
       </select>
   </li>
 *
 */
.spoken-form label{
    display:inline-block;
    font:inherit;
}





/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class=gw>
       
       <div class="g one-three">
           <p>One third grid</p>
       </div>
       
       <div class="g two-three">
           <p>Two thirds grid</p>
       </div>
       
       <div class="g two-four">
           <p>One half grid</p>
       </div>
       
       <div class="g one-four">
           <p>One quarter grid</p>
       </div>
       
       <div class="g one-four">
           <p>One quarter grid</p>
       </div>
       
   </div>
 *
 */
/**
 * Grid wrapper
 */
.gw{
    /**
     * Negative margin to negate the padding on the first grid child. 
     */
    margin-left:-($base-spacing-unit) +px;
    /**
     * The following declarations allow us to use the `.gw` class on lists.
     */
    list-style:none;
    margin-bottom:0;
    @extend .cf;
}
    /**
     * Very infrequently occuring grid wrappers as children of grid wrappers.
     */
    .gw > .gw{
        margin-left:0;
    }
    /**
     * Grid
     */
    .g{
        float:left;
        padding-left:$base-spacing-unit +px;
        @include vendor(box-sizing, border-box);
    }
    
    /**
     * Grid sizes in human readable format.
     */

    /**
     * Whole
     */
    .one-whole{
        width:100%;
    }

    /**
     * Halves
     */
    .one-half{
        width:50%;
    }

    /**
     * Thirds
     */
    .one-third{
        width:33.333%;
    }
    .two-thirds{
        width:66.666%;
    }

    /**
     * Quarters
     */
    .one-quarter{
        width:25%;
    }
    .two-quarters{
        @extend .one-half;
    }
    .three-quarters{
        width:75%;
    }

    /**
     * Fifths
     */
    .one-fifth{
        width:20%;
    }
    .two-fifths{
        width:40%;
    }
    .three-fifths{
        width:60%;
    }
    .four-fifths{
        width:80%;
    }

    /**
     * Sixths
     */
    .one-sixth{
        width:16.666%;
    }
    .two-sixths{
        @extend .one-third;
    }
    .three-sixths{
        @extend .one-half;
    }
    .four-sixths{
        @extend .two-thirds;
    }
    .five-sixths{
        width:83.333%;
    }

    /**
     * Eighths
     */
    .one-eighth{
        width:12.5%;
    }
    .two-eighths{
        @extend .one-quarter;
    }
    .three-eighths{
        width:37.5%;
    }
    .four-eighths{
        @extend .one-half;
    }
    .five-eighths{
        width:62.5%;
    }
    .six-eighths{
        @extend .three-quarters;
    }
    .seven-eighths{
        width:87.5%;
    }

    /**
     * Tenths
     */
    .one-tenth{
        width:10%;
    }
    .two-tenths{
        @extend .one-fifth;
    }
    .three-tenths{
        width:30%;
    }
    .four-tenths{
        @extend .one-fifth;
    }
    .five-tenths{
        @extend .one-half;
    }
    .six-tenths{
        @extend .three-fifths;
    }
    .seven-tenths{
        width:70%;
    }
    .eight-tenths{
        @extend .four-fifths;
    }
    .nine-tenths{
        width:90%;
    }





/*------------------------------------*\
    $COLUMNS
\*------------------------------------*/
/**
 * Here we can set elements in columns of text using CSS3, e.g.:
 *
   <p class=text-cols-2>
 *
 */
.text-cols,
.text-cols-2,
.text-cols-3,
.text-cols-4,
.text-cols-5{
    @include vendor(column-gap, $base-spacing-unit +px);
}
.text-cols-2{
    @include vendor(column-count, 2);
}
.text-cols-3{
    @include vendor(column-count, 3);
}
.text-cols-4{
    @include vendor(column-count, 4);
}
.text-cols-5{
    @include vendor(column-count, 5);
}




/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;
}
    .nav > li,
        .nav > li > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }

/**
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
    .stacked > li{
        display:list-item;
    }
        .stacked > li > a{
            display:block;
        }

/**
 * `.banner-nav` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav banner-nav">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.banner-nav{
    text-align:center;
}





/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=img>
       <p class=body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 */
.media{
    display:block;
    @extend .cf;
}
    .img{
        float:left;
        margin-right:$base-spacing-unit +px;
    }
    /**
     * Reversed image location (right instead of left).
     */
    .img-rev{
        float:right;
        margin-left:$base-spacing-unit +px;
    }
    
        .img img,
        .img-rev img{
            display:block;
        }
    
    .body{
        overflow:hidden;
    }
        .body,
        .body > :last-child{
            margin-bottom:0;
        }
    
    /**
     * `.img`s in `.islet`s need an appropriately sized margin.
     */
    .islet .img{
        margin-right:$half-spacing-unit +px;
    }
    .islet .img-rev{
        margin-left:$half-spacing-unit +px;
    }





/*------------------------------------*\
    $ISLAND
\*------------------------------------*/
/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
   <div class=island>
       I am boxed off.
   </div>
 *
 */
.island,
.islet{
    display:block;
    @extend .cf;
}
.island{
    padding:$base-spacing-unit +px;
}
    .island > :last-child,
    .islet > :last-child{
        margin-bottom:0;
    }

/**
 * Just like `.island`, only smaller.
 */
.islet{
    padding:$half-spacing-unit +px;
}





/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class=block-list>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
      <li><a href=# class=block-list-link>Foo Bar Baz</a></li>
   </ul>
  *
  * Extend this object in your theme stylesheet.
 */
.block-list,
    .block-list > li{
        border:0 solid #ccc; /* Override this color in your theme stylesheet */
    }
.block-list{
    list-style:none;
    margin-left:0;
    border-top-width:1px;
}
    .block-list > li{
        border-bottom-width:1px;
        padding:$half-spacing-unit +px;
    }
        .block-list-link{
            display:block;
            padding:$half-spacing-unit +px;
            margin:-$half-spacing-unit +px;
        }





/*------------------------------------*\
    $MATRIX
\*------------------------------------*/
/**
 * Create a grid of items out of a single list, e.g.:
 *
   <ul class="matrix four-cols">
       <li class=all-cols>Lorem</li>
       <li>Ipsum</li>
       <li>Dolor</li>
       <li>Sit</li>
       <li>Amet</li>
       <li class=all-cols>Consectetuer</li>
   </ul>
 *
 * Extend this object in your theme stylesheet.
 */
.matrix,
    .matrix > li{
        border:0 solid #ccc; /* Override this color in your theme stylesheet */
    }
.matrix{
    list-style:none;
    margin-left:0;
    border-top-width: 1px;
    border-left-width:1px;
    @extend .cf;
}
    .matrix > li{
        padding:$half-spacing-unit +px;
        float:left;
        border-right-width: 1px;
        border-bottom-width:1px;
        @include vendor(box-sizing, border-box);
    }

/**
 * The `.multi-list` object is a lot like the `.matrix` object only without the
 * blocky borders and padding.
 *
   <ul class="multi-list four-cols">
       <li>Lorem</li>
       <li>Ipsum</li>
       <li>Dolor</li>
       <li>Sit</li>
   </ul>
 *
 */
.multi-list{
    list-style:none;
    margin-left:0;
    @extend .cf;
}
    .multi-list > li{
        float:left;
    }
    
    /**
     * Apply these classes alongside the `.matrix` or `.multi-list` classes on
     * lists to determine how wide their columns are.
     */
    .two-cols > li{
        width:50%;
    }
    .three-cols > li{
        width:33.333%;
    }
    .four-cols > li{
        width:25%;
    }
    .five-cols > li{
        width:20%;
    }
    /**
     * This only works on the `.matrix` object.
     */
    .matrix > .all-cols{
        width:100%;
    }





/*------------------------------------*\
    $SPLIT
\*------------------------------------*/
/**
 * Simple split item for creating two elements floated away from one another,
 * e.g.:
 *
   <dl class=split>       
       <dt class=split-title>Burger and fries</dt>
       <dd>&pound;5.99</dd>       
       <dt class=split-title>Fillet steak</dt>
       <dd>&pound;19.99</dd>       
       <dt class=split-title>Ice cream</dt>
       <dd>&pound;2.99</dd>       
   </dl>
 * 
   <ol class="split results">       
       <li class=first><b class=split-title>1st place</b> Bob</li>       
       <li class=second><b class=split-title>2nd place</b> Lilly</li>       
       <li class=third><b class=split-title>3rd place</b> Ted</li>       
   </ol>​
 * 
 */
.split{
    text-align:right;
    list-style:none;
    margin-left:0;
}
    .split-title{
        text-align:left;
        float:left;
        clear:left;
    }





/*------------------------------------*\
    $FLYOUT
\*------------------------------------*/
/**
 * Flyouts are pieces of content that fly out of a parent when said parent is
 * hovered. They typically appear bottom-left of the parent.
 *
   <div class=flyout>
       Foo
       <div class=flyout-content>
           <h1>Lorem</h1>
           <p>Ipsum</p>
       </div>
   </div>
 *
 * Extend these objects in your theme stylesheet.
 */
.flyout,
.flyout-alt{
    position:relative;
    overflow:hidden;
}
    .flyout-content{
        /**
         * Position the flyouts off-screen. This is typically better than
         * `display:none;`.
         */
        position:absolute;
        top:100%;
        left:-99999px;
    }
    
    /**
     * Bring the flyouts into view when you hover their parents.
     * Two different types of flyout; ‘regular’ (`.flyout`) and ‘alternative’
     * (`.flyout-alt`).
     */
    .flyout:hover,
    .flyout-alt:hover{
        overflow:visible;
    }
    /**
     * Regular flyouts sit all the way from the top, flush left.
     */
    .flyout:hover > .flyout-content{
        left:0;
    }
    /**
     * Alternative flyouts sit all the way from the left, flush top.
     */
    .flyout-alt:hover > .flyout-content{
        top:0;
        left:100%;
    }





/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * Giving an element a class of `.s` will throw it into ‘sprite’ mode and apply
 * a background image e.g.:
 *
   <a class="s s-question-mark">More info&hellip;</a>
 *
 * or
 *
   <a href=#><i class="s s-question-mark"></i> Help and FAQ</a>
 * 
 * Giving an element a class of `.i` will throw it into ‘icon’ mode and will
 * not add a background, but should be used for icon fonts, e.g.:
 * 
   <a href=# class="i i-star">Add to favorites</a>
 * 
 * or
 * 
   <a href=#><i class="i i-star"></i> View your favourites</a>
 * 
 * These all require extension in your theme stylesheet. For a rough example
 * please see: jsfiddle.net/csswizardry/98VeS
 */
.s,
.i{
    display:inline-block;
    /**
     * The typical size of most icons. Override in your theme stylesheet.
     */
    width: 16px;
    height:16px;
    position:relative;
    zoom:1;
    /**
     * So using `.i` on `i` elements doesn’t make a visual difference.
     */
    font-style:normal;
    /**
     * So icons added using `.i` sit in the centre of the element.
     */
    text-align:center;
}
.s{
    background-image:url(/path/to/your/sprite.png);
    vertical-align:middle;
    top:-1px;
    
    /**
     * Kellum Method image replacement:
     * zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
     */
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}
.i{
    vertical-align:top;
}






/*------------------------------------*\
    $ICON-TEXT
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them. Sometimes whitespace would
 * suffice in creating a gap between the icon and text, for example:
 *
   <a href=#>
       <i class="s s-help"></i> Help &amp; support
   </a>
 *
 * However we will sometimes want a larger, explicity set gap:
   <a href=# class=icon-text>
       <i class="icon s s-help"></i>Help &amp; support
   </a>
 *
*/
.icon-text > .icon{
    margin-right:8px;
}

/**
 * We can also reverse the direction of the margin for icons that appear to the
 * right of the text content, thus:
 *
   <a href=# class=icon-text-rev>
       Help &amp; support<i class="icon s s-help"></i>
   </a>
 *
*/
.icon-text-rev > .icon{
    margin-left:8px;
}





/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 */
.btn{
    font:inherit;
    cursor:pointer;
    border:none;
    display:inline-block;
    margin: 0;
    line-height:1;
    /**
     * Set padding in ems so we can change the size of a button by merely
     * altering its `font-size`.
     */
    padding:0.5em;
}
    .btn,
    .btn:hover{
        text-decoration:none;
    }

.btn-sml { font-size: .75em; }
.btn-lrg { font-size:1.50em; }

.btn-full{
    display:block;
    text-align:center;
    /**
     * The following is so that `.btn-full` works properly on `input`s as well
     * as `a`s.
     */
    padding-right:0;
    padding-left: 0;
    width:100%;
}





/*------------------------------------*\
    $LOZENGES
\*------------------------------------*/
/**
 * Create pill-like runs of text, e.g.:
 *
   <p>This <span class=loz>here</span> is a lozenge!</p>
 *
   <h1>This <span class=loz>here</span> is also a lozenge!</h1>
 *
 */
.loz{
    display:inline-block;
    /**
     * These numbers set in ems mean that, at its narrowest, a lozenge will be
     * the same width as the 1.5 `line-height` set on the `html` element.
     * This allows us to use the `.loz` in any `font-size` we wish.
     */
    min-width:    1.00em;
    padding-right:0.25em;
    padding-left: 0.25em;
              /* =1.50em */
    text-align:center;
    background-color:#ccc; /* Override this color in your theme stylesheet */
    color:#fff; /* Override this color in your theme stylesheet */
    
    /**
     * Normally we’d use border-radius:100%; but instead here we just use an
     * overly large number; `border-radius:100%;` would create an oval on
     * non-square elements whereas we just want to round the ends of an element.
    */
    @include vendor(border-radius, 100px);
}





/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * `.brand` is a quick and simple way to apply your brand face and/or color to
 * any element using a handy helper class.
 */
.brand{
    font-family:$brand-face +!important;
    color:$brand-color +!important;
}
.brand-face{
    font-family:$brand-face +!important;
}
.brand-color,
.brand-colour{
    color:$brand-color +!important;
}





/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.fl` class to the markup.
 */
.fr { float:right; }
.fl { float:left; }

.text-center,
.text-centre{
    text-align:center;
}

/**
 * Pull items full width of `.island` parents.
 */
.full-bleed{
    margin-right:-$base-spacing-unit +px;
    margin-left: -$base-spacing-unit +px;
}
.islet > .full-bleed{
    margin-right:-($half-spacing-unit) +px;
    margin-left: -($half-spacing-unit) +px;
}

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative{
    cursor:help;
}

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed{
    text-align:right;
}

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
.go:after{
    content:" »";
}

/**
 * Hide content off-screen without resorting to `display:none;`
 */
.accessibility              { position:absolute; left:-99999px; }
[dir=rtl] .accessibility    { left:auto; right:-99999px; }