/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font-family:"Helvetica Neue", Arial, sans-serif;
	color:#e4eef6;
	background-color:#4a8ec2;
	
	background:-moz-linear-gradient(top, #5998c7 0%, #4a8ec2 100%) fixed;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5998c7), color-stop(100%,#4a8ec2)) fixed;
	background:-webkit-linear-gradient(top, #5998c7 0%,#4a8ec2 100%) fixed;
	background:-o-linear-gradient(top, #5998c7 0%,#4a8ec2 100%) fixed;
	background:-ms-linear-gradient(top, #5998c7 0%,#4a8ec2 100%) fixed;
	background:linear-gradient(top, #5998c7 0%,#4a8ec2 100%) fixed;
}
body{
	max-width:640px;
	padding:50px 1em 0;
	margin:0 auto;
	text-align:center;
	background:none;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1{
	font-weight:bold;
	font-size:3em;
	line-height:1;
}
a{
	color:inherit;
}





/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo{
	margin-bottom:1.5em;
}





/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/





@media (min-width: 721px) and (max-width: 960px){}
/*--- END NARROW ---*/





/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/





@media (max-width: 720px){
body{
	font-size:0.75em;
}
}
/*--- END MOBILE ---*/