/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
@mixin push-setup($namespace: ""){

    /**
     * Whole
     */
    #{$class-type}push--#{$namespace}one-whole           { left:100%; @include silent-relative(); }


    /**
     * Halves
     */
    #{$class-type}push--#{$namespace}one-half            { left:50%; @include silent-relative(); }


    /**
     * Thirds
     */
    #{$class-type}push--#{$namespace}one-third           { left:33.333%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-thirds          { left:66.666%; @include silent-relative(); }


    /**
     * Quarters
     */
    #{$class-type}push--#{$namespace}one-quarter         { left:25%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-quarters        { @extend #{$class-type}push--#{$namespace}one-half; }
    #{$class-type}push--#{$namespace}three-quarters      { left:75%; @include silent-relative(); }


    /**
     * Fifths
     */
    #{$class-type}push--#{$namespace}one-fifth           { left:20%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-fifths          { left:40%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}three-fifths        { left:60%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}four-fifths         { left:80%; @include silent-relative(); }


    /**
     * Sixths
     */
    #{$class-type}push--#{$namespace}one-sixth           { left:16.666%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-sixths          { @extend #{$class-type}push--#{$namespace}one-third; }
    #{$class-type}push--#{$namespace}three-sixths        { @extend #{$class-type}push--#{$namespace}one-half; }
    #{$class-type}push--#{$namespace}four-sixths         { @extend #{$class-type}push--#{$namespace}two-thirds; }
    #{$class-type}push--#{$namespace}five-sixths         { left:83.333%; @include silent-relative(); }


    /**
     * Eighths
     */
    #{$class-type}push--#{$namespace}one-eighth          { left:12.5%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-eighths         { @extend #{$class-type}push--#{$namespace}one-quarter; }
    #{$class-type}push--#{$namespace}three-eighths       { left:37.5%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}four-eighths        { @extend #{$class-type}push--#{$namespace}one-half; }
    #{$class-type}push--#{$namespace}five-eighths        { left:62.5%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}six-eighths         { @extend #{$class-type}push--#{$namespace}three-quarters; }
    #{$class-type}push--#{$namespace}seven-eighths       { left:87.5%; @include silent-relative(); }


    /**
     * Tenths
     */
    #{$class-type}push--#{$namespace}one-tenth           { left:10%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-tenths          { @extend #{$class-type}push--#{$namespace}one-fifth; }
    #{$class-type}push--#{$namespace}three-tenths        { left:30%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}four-tenths         { @extend #{$class-type}push--#{$namespace}two-fifths; }
    #{$class-type}push--#{$namespace}five-tenths         { @extend #{$class-type}push--#{$namespace}one-half; }
    #{$class-type}push--#{$namespace}six-tenths          { @extend #{$class-type}push--#{$namespace}three-fifths; }
    #{$class-type}push--#{$namespace}seven-tenths        { left:70%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}eight-tenths        { @extend #{$class-type}push--#{$namespace}four-fifths; }
    #{$class-type}push--#{$namespace}nine-tenths         { left:90%; @include silent-relative(); }


    /**
     * Twelfths
     */
    #{$class-type}push--#{$namespace}one-twelfth         { left:8.333%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}two-twelfths        { @extend #{$class-type}push--#{$namespace}one-sixth; }
    #{$class-type}push--#{$namespace}three-twelfths      { @extend #{$class-type}push--#{$namespace}one-quarter; }
    #{$class-type}push--#{$namespace}four-twelfths       { @extend #{$class-type}push--#{$namespace}one-third; }
    #{$class-type}push--#{$namespace}five-twelfths       { left:41.666%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}six-twelfths        { @extend #{$class-type}push--#{$namespace}one-half; }
    #{$class-type}push--#{$namespace}seven-twelfths      { left:58.333%; @include silent-relative(); }
    #{$class-type}push--#{$namespace}eight-twelfths      { @extend #{$class-type}push--#{$namespace}two-thirds; }
    #{$class-type}push--#{$namespace}nine-twelfths       { @extend #{$class-type}push--#{$namespace}three-quarters; }
    #{$class-type}push--#{$namespace}ten-twelfths        { @extend #{$class-type}push--#{$namespace}five-sixths; }
    #{$class-type}push--#{$namespace}eleven-twelfths     { left:91.666%; @include silent-relative(); }
}

@if $push == true {

    /**
     * Not a particularly great selector, but the DRYest way to do things.
     */
    [class*="push--"]{ position:relative; }


    @include push-setup();


    @if $responsive == true{
        @each $name in $breakpoint-has-push {
            @include grid-media-query($name) {
               @include  push-setup('#{$name}--');
            }
        }
    }


}