<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>{{ page.title }}</title>
    
    <link rel=stylesheet href=css/inuit.min.css>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic" rel=stylesheet>
    
    <link rel="shortcut icon" href=icon.png>
    <link rel=apple-touch-icon-precomposed href=icon.png>
    <meta name=apple-mobile-web-app-title content="">
    <link type=text/plain rel=author href=humans.txt>
</head>
<body>

    <header class="page-head">
        <a href="/inuit.css/" class="logo">
            <img src="https://a248.e.akamai.net/camo.github.com/b402c145cb1134727d8b1416c7f080731cca1244/687474703a2f2f63737377697a61726472792e636f6d2f696e7569746373732f696d672f6c6f676f2e6a7067" alt="">
        </a>
    </header>
    
    <h1 class="site-title"><b>inuit.css</b> &ndash; a powerful, scalable, Sass-based, BEM, OOCSS framework.</h1>

    <div class="gw  gw--rev">
        <div class="g  one-whole  desk-one-third">
            <p class="landmark">
                <a href="https://github.com/csswizardry/inuit.css" class="btn  btn--cta  btn--full">View on GitHub</a>
            </p>
        </div>
        
        <div class="g  one-whole  desk-two-thirds">
            {{ content }}
        </div>
    </div>

    <footer class="page-foot">
        <p>&copy; 2012 Harry Roberts</p>
    </footer>
    
</body>
</html>
