<h2 class="section-title" id="beautons">Beautons</h2>
<h3>Button Test Sizes</h3>
<a class="btn-demo btn">Button</a>
<a class="btn-demo btn btn--small">Small Button</a>
<a class="btn-demo btn btn--large">Large Button</a>
<a class="btn-demo btn btn--huge">Huge Button</a>
<a class="btn-demo btn btn--full">Full Button</a>
<hr />
<h3>Font Sizes</h3>
<a class="btn-demo btn btn--alpha">Alpha</a>
<a class="btn-demo btn btn--beta">Beta</a>
<a class="btn-demo btn btn--gamma">Gamma</a>
<a class="btn-demo btn btn--natural">Natural</a>
<hr />
<h3>Button Functions</h3>
<a class="btn-demo btn btn--primary">Primary</a>
<a class="btn-demo btn btn--secondary">Secondary</a>
<a class="btn-demo btn btn--tertiary">Tertiary</a>
<hr />
<h3>Button Actions</h3>
<a class="btn btn--positive">Positive</a>
<a class="btn btn--negative">Negative</a>
<a class="btn btn--inactive">Inactive</a>
<hr />
<h3>Button Styles</h3>
<a class="btn-demo btn btn--soft">Soft</a>
<a class="btn-demo btn btn--hard">Hard</a>
<hr />
