<h2 class="section-title" id="breadcrumb">Breadcrumb</h2>
<h3>Default</h3>
<p>Simple breadcrumb styling to apply to (ordered) lists. Extends `.nav`</p>
<ol class="nav  breadcrumb">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>The Board</a></li>
   <li class="current"><a href=#>Directors</a></li>
</ol>
<hr />
<h3>Path</h3>
<p>For denoting a path-like structure, GitHub style</p>
<ol class="nav  breadcrumb--path">
   <li class="breadcrumb__root"><a href=#>inuit.css</a></li>
   <li><a href=#>inuit.css</a></li>
   <li><a href=#>partials</a></li>
   <li class="current"><a href=#>objects</a></li>
</ol>
<hr />
<h3>Custom</h3>
<p>Assign a delimiter on the fly through a data attribute</p>
<ol class="nav  breadcrumb">
   <li><a href=#>Home</a></li>
   <li data-breadcrumb="|"><a href=#>About</a></li>
   <li data-breadcrumb="|"><a href=#>The Board</a></li>
   <li data-breadcrumb="|" class="current"><a href=#>Directors</a></li>
</ol>
<ol class="nav  breadcrumb">
   <li><a href=#>Home</a></li>
   <li data-breadcrumb="*"><a href=#>About</a></li>
   <li data-breadcrumb="*"><a href=#>The Board</a></li>
   <li data-breadcrumb="*" class="current"><a href=#>Directors</a></li>
</ol>
<hr />
