<h2 class="section-title" id="flexbox">FlexBox</h2>
<p>Until we can utilise flexbox natively we can kinda, sorta, attempt to emulate it</p>
<h3>FlexBox Default</h3>
<div class="flexbox">

    <div class="flexbox__item flexbox-demo">
        <b>Welcome to</b>
    </div>

    <div class="flexbox__item flexbox-demo">
        <img src="http://placehold.it/600x150" alt="inuit.css logo">
    </div>

</div>
<hr />

<h3>FlexBox with Grids</h3>
<div class="flexbox">
   <div class="flexbox__item  one-quarter greybox flexbox-demo">
   		<p>One Quarter</p>
   </div>
   <div class="flexbox__item  three-quarters greybox flexbox-demo">
   		<p>Three Quarters</p>
   </div>
</div>
<hr />
