<h2 class="section-title" id="flyout">Flyout</h2>
<p>Flyouts are pieces of content that fly out of a parent when said parent is hovered. They typically appear bottom-left of the parent.</p>
<h3>Flyout Regular - From the top, flush left</h3>
<div class="flyout btn-demo btn btn-large">
       Hover Me
   <div class="flyout__content greybox">
       <h1>Lorem</h1>
       <p>Ipsum</p>
   </div>
</div>
<hr />
<h3>Flyout Alternative - Left, Flush Top</h3>
<div class="flyout--alt btn-demo btn btn--large">
       Hover Me
   <div class="flyout__content greybox">
       <h1>Lorem</h1>
       <p>Ipsum</p>
   </div>
</div>
<hr />
