<h2 class="section-title" id="greybox">GreyBox - For Prototyping</h2>
<p>Quickly throw together greybox wireframes. Use in conjunction with other inuit.css objects to create simple greybox prototypes</p>
<h3>Generic</h3>
<ul class="nav  nav--fit  nav--block  greybox">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>Portfolio</a></li>
   <li><a href=#>Contact</a></li>
</ul>
<hr />
<h3>Greybox Sizes</h3>
<div class="island  greybox  greybox--small">Small</div>
<div class="island  greybox  greybox--medium">Medium</div>
<div class="island  greybox  greybox--large">Large</div>
<div class="island  greybox  greybox--huge">Header</div>
<div class="island  greybox  greybox--gigantic">Gigantic</div>
<hr />
