<h2 class="section-title" id="grids">Grids</h2>
<p>A fluid and nestable grid system. The grid system is based on <a href="http://github.com/csswizardry/csswizardry-grids">csswizardry-grids</a>. If you would like to use the full features of csswizardry-grids then you can simply use it in conjunction with inuit.css as a second library.</p>
<p>As <strong>.grid__item</strong>s use <em>display: inline-block</em> it's required to strip whitespace using comments from between them e.g.</p>
<pre>
    <code>
&lt;div class="grid"&gt;

   &lt;div class="grid__item  one-third"&gt;
       &lt;p&gt;One third grid&lt;/p&gt;
   &lt;/div&gt;&lt;!--

--&gt;&lt;div class="grid__item  two-thirds"&gt;
       &lt;p&gt;Two thirds grid&lt;/p&gt;
   &lt;/div&gt;&lt;!--

--&gt;&lt;div class="grid__item  one-half"&gt;
       &lt;p&gt;One half grid&lt;/p&gt;
   &lt;/div&gt;&lt;!--

--&gt;&lt;div class="grid__item  one-quarter"&gt;
       &lt;p&gt;One quarter grid&lt;/p&gt;
   &lt;/div&gt;&lt;!--

--&gt;&lt;div class="grid__item  one-quarter"&gt;
       &lt;p&gt;One quarter grid&lt;/p&gt;
   &lt;/div&gt;

&lt;/div&gt;
    </code>
</pre>
<h3>Regular</h3>
<div class="grid">

    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--

 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>

</div>
<h3>Reversed</h3>
<div class="grid grid--rev">

    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--

 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>

</div>
<h3>Full</h3>
<div class="grid grid--full">

    <div class="grid__item one-whole">
        <p class="greybox grid-demo">1</p>
    </div><!--

 --><div class="grid__item one-half">
        <p class="greybox grid-demo">2</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox grid-demo">3</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox grid-demo">4</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox grid-demo">5</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox grid-demo">6</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox grid-demo">7</p>
    </div>

</div>
<h3>Center</h3>
<div class="grid grid--center">

    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--

 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--

 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--

 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>

</div>
