<h2 class="section-title" id="images">Images</h2>
<p>Non-fluid images if you specify `width` and/or `height` attributes.</p>
<img src="http://placekitten.com/300/200" alt="" width="300" height="200" />
<h3>Round Images</h3>
<img src="http://placekitten.com/300/200" alt="" class="img--short  img--round">
<h3>Image placement variations</h3>
<p>`.img--right`, `.img--left` and `.img--center`</p>
<img src="http://placekitten.com/300/200" alt="" class="img--right  img--short">
<img src="http://placekitten.com/300/200" alt="" class="img--left  img--medium">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
<img src="http://placekitten.com/300/200" alt="" class="img--center  img--medium">
