<h2 class="section-title" id="marginalia">Marginalia</h2>
<p>Marginalia are, per definition, notes in the margin of a document. The `marginalia__body` class can be applied to all kinds of content, like text or images, and is joined by a width class</p>

<div class="marginalia">
    <p class="marginalia__body--right  desk-one-fifth">This is some marginalia content.</p>
</div>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit</p>
<hr />
