<h2 class="section-title" id="nav">Nav</h2>
<p>Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction When used on an `ol` or `ul`, this class throws the list into horizontal mode</p>
<h3>Default</h3>
<ul class="nav">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>Portfolio</a></li>
   <li><a href=#>Contact</a></li>
</ul>
<hr />
<h3>Stacked</h3>
<p>`.nav--stacked` extends `.nav` and throws the list into vertical mode</p>
<ul class="nav  nav--stacked">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>Portfolio</a></li>
   <li><a href=#>Contact</a></li>
</ul>
<hr />
<h3>Banner</h3>
<p>`.nav--banner` extends `.nav` and centres the list</p>
<ul class="nav  nav--banner">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>Portfolio</a></li>
   <li><a href=#>Contact</a></li>
</ul>
<hr />
<h3>Block</h3>
<p>Give nav links a big, blocky hit area. Extends `.nav`</p>
<ul class="nav  nav--block">
   <li><a href=# class="greybox">Home</a></li>
   <li><a href=# class="greybox">About</a></li>
   <li><a href=# class="greybox">Portfolio</a></li>
   <li><a href=# class="greybox">Contact</a></li>
</ul>
<hr />
<h3>Fit</h3>
<p>Force a nav to occupy 100% of the available width of its parent. Extends `.nav`</p>
<ul class="nav  nav--fit">
   <li><a href=# class="greybox">Home</a></li>
   <li><a href=# class="greybox">About</a></li>
   <li><a href=# class="greybox">Portfolio</a></li>
   <li><a href=# class="greybox">Contact</a></li>
</ul>
<hr />
<h3>Keywords</h3>
<p>Make a list of keywords. Extends `.nav`</p>
<ul class="nav  nav--keywords">
   <li><a href=#>Home</a></li>
   <li><a href=#>About</a></li>
   <li><a href=#>Portfolio</a></li>
   <li><a href=#>Contact</a></li>
</ul>
<hr />
