<h2 class="section-title" id="stats">Stats</h2>
<p>Simple object to display key-value statistic-like information</p>
<div class="stat-group">
    <dl class="stat">
        <dt class="stat__title">Tweets</dt>
        <dd class="stat__value">27,740</dd>
    </dl>

    <dl class="stat">
        <dt class="stat__title">Following</dt>
        <dd class="stat__value">11,529</dd>
    </dl>

    <dl class="stat">
        <dt class="stat__title">Followers</dt>
        <dd class="stat__value">12,105</dd>
    </dl>
</div>
<hr />
