<h2 class="section-title" id="tables">Tables</h2>
<p>We have a lot at our disposal for making very complex table construct</p>
<ul>
	<li>`.table--bordered` - bordered table</li>
	<li>`.table--striped` - striped table</li>
	<li>`.table--data` - make type smaller to read data</li>
</ul>
<table class="table--bordered  table--striped  table--data">
 <colgroup>
 <col class="t"10>
 <col class="t"10>
 <col class="t"10>
 <col>
</colgroup>
<thead>
 <tr>
   <th colspan=3>Foo</th>
   <th>Bar</th>
 </tr>
 <tr>
   <th>Lorem</th>
   <th>Ipsum</th>
   <th class="numerical">Dolor</th>
   <th>Sit</th>
 </tr>
</thead>
<tbody>
 <tr>
   <th rowspan=3>Sit</th>
   <td>Dolor</td>
   <td class="numerical">03.788</td>
   <td>Lorem</td>
 </tr>
 <tr>
   <td>Dolor</td>
   <td class="numerical">32.210</td>
   <td>Lorem</td>
 </tr>
 <tr>
   <td>Dolor</td>
   <td class="numerical">47.797</td>
   <td>Lorem</td>
 </tr>
 <tr>
   <th rowspan=2>Sit</th>
   <td>Dolor</td>
   <td class="numerical">09.640</td>
   <td>Lorem</td>
 </tr>
 <tr>
   <td>Dolor</td>
   <td class="numerical">12.117</td>
   <td>Lorem</td>
 </tr>
</tbody>
</table>
<hr />
